<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="SignUpTests_stage.NI.SignUpWithBeautyAndWellnessTemplate"/>
      <class name="SignUpTests_stage.SignUpWithOthersTemplate"/>
      <class name="SignUpTests_Prod.SignUpWithEducationTemplate"/>
      <class name="SignUpTests_stage.HK.SignUpWithBlankTemplate"/>
      <class name="SignUpTests_stage.SG.SignUpWithGroceriesTemplate"/>
      <class name="SignUpTests_stage.NI.SignUpWithInteriorDesignTemplate"/>
      <class name="SignUpTests_stage.HK.SignUpWithOthersTemplate"/>
      <class name="SignUpTests_stage.SignUpWithDecoreAndFurnitureTemplate"/>
      <class name="SignUpTests_stage.SG.SignUpWithWeddingsAndEventsTemplate"/>
      <class name="SignUpTests_stage.SignUpWithBeautyAndWellnessTemplate"/>
      <class name="SignUpTests_stage.SG.SignUpWithInteriorDesignTemplate"/>
      <class name="SignUpTests_Prod.SignUpWithDecoreAndFurnitureTemplate"/>
      <class name="SignUpTests_Prod.SignUpWithOthersTemplate"/>
      <class name="SignUpTests_Prod.SignUpWithGroceriesTemplate"/>
      <class name="SignUpTests_stage.IN.SignUpWithEducationTemplate"/>
      <class name="SignUpTests_stage.NI.SignUpWithRealEstateTemplate"/>
      <class name="SignUpTests_Prod.SignUpWithBlankTemplate"/>
      <class name="SignUpTests_stage.SignUpWithBlankTemplate"/>
      <class name="SignUpTests_stage.SG.SignUpWithEducationTemplate"/>
      <class name="SignUpTests_stage.HK.SignUpWithEducationTemplate"/>
      <class name="SignUpTests_stage.SignUpWithFashionAccessoriesTemplate"/>
      <class name="SignUpTests_stage.IN.SignUpWithInteriorDesignTemplate"/>
      <class name="SignUpTests_stage.IN.SignUpWithWeddingsAndEventsTemplate"/>
      <class name="SignUpTests_stage.NI.SignUpWithFashionAccessoriesTemplate"/>
      <class name="SignUpTests_stage.HK.SignUpWithWeddingsAndEventsTemplate"/>
      <class name="SignUpTests_stage.IN.SignUpWithGroceriesTemplate"/>
      <class name="SignUpTests_Prod.SignUpWithRealEstateTemplate"/>
      <class name="SignUpTests_stage.IN.SignUpWithFashionAccessoriesTemplate"/>
      <class name="SignUpTests_Prod.SignUpWithFashionAccessoriesTemplate"/>
      <class name="SignUpTests_stage.SG.SignUpWithClothingTemplate"/>
      <class name="SignUpTests_stage.HK.SignUpWithDecoreAndFurnitureTemplate"/>
      <class name="SignUpTests_Prod.SignUpWithWeddingsAndEventsTemplate"/>
      <class name="SignUpTests_stage.SignUpWithEducationTemplate"/>
      <class name="SignUpTests_stage.HK.SignUpWithInteriorDesignTemplate"/>
      <class name="SignUpTests_stage.SignUpWithRealEstateTemplate"/>
      <class name="SignUpTests_stage.SG.SignUpWithBeautyAndWellnessTemplate"/>
      <class name="SignUpTests_stage.HK.SignUpWithKitchenAndHousewareTemplate"/>
      <class name="SignUpTests_stage.SignUpWithWeddingsAndEventsTemplate"/>
      <class name="SignUpTests_stage.SG.SignUpWithFashionAccessoriesTemplate"/>
      <class name="SignUpTests_stage.SignUpWithGroceriesTemplate"/>
      <class name="SignUpTests_stage.HK.SignUpWithHealthServicesTemplate"/>
      <class name="SignUpTests_Prod.SignUpWithInteriorDesignTemplate"/>
      <class name="SignUpTests_stage.IN.SignUpWithBeautyAndWellnessTemplate"/>
      <class name="SignUpTests_stage.SG.SignUpWithBlankTemplate"/>
      <class name="SignUpTests_stage.IN.SignUpWithOthersTemplate"/>
      <class name="SignUpTests_stage.HK.SignUpWithFashionAccessoriesTemplate"/>
      <class name="SignUpTests_stage.NI.SignUpWithWeddingsAndEventsTemplate"/>
      <class name="SignUpTests_stage.SignUpWithKitchenAndHousewareTemplate"/>
      <class name="SignUpTests_Prod.SignUpWithHealthServicesTemplate"/>
      <class name="SignUpTests_stage.IN.SignUpWithDecoreAndFurnitureTemplate"/>
      <class name="SignUpTests_stage.HK.SignUpWithClothingTemplate"/>
      <class name="SignUpTests_stage.NI.SignUpWithKitchenAndHousewareTemplate"/>
      <class name="SignUpTests_stage.NI.SignUpWithHealthServicesTemplate"/>
      <class name="SignUpTests_stage.SG.SignUpWithDecoreAndFurnitureTemplate"/>
      <class name="SignUpTests_stage.SG.SignUpWithHealthServicesTemplate"/>
      <class name="SignUpTests_stage.NI.SignUpWithClothingTemplate"/>
      <class name="SignUpTests_stage.IN.SignUpWithBlankTemplate"/>
      <class name="SignUpTests_Prod.SignUpWithClothingTemplate"/>
      <class name="SignUpTests_stage.SG.SignUpWithRealEstateTemplate"/>
      <class name="BaseClass.BaseClassTest"/>
      <class name="SignUpTests_stage.HK.SignUpWithGroceriesTemplate"/>
      <class name="SignUpTests_stage.IN.SignUpWithOthersTemplateWithCitrusPayment"/>
      <class name="SignUpTests_stage.HK.SignUpWithRealEstateTemplate"/>
      <class name="SignUpTests_stage.HK.SignUpWithBeautyAndWellnessTemplate"/>
      <class name="SignUpTests_stage.SG.SignUpWithKitchenAndHousewareTemplate"/>
      <class name="SignUpTests_stage.NI.SignUpWithGroceriesTemplate"/>
      <class name="SignUpTests_stage.IN.SignUpWithHealthServicesTemplate"/>
      <class name="SignUpTests_stage.IN.SignUpWithKitchenAndHousewareTemplate"/>
      <class name="SignUpTests_stage.NI.SignUpWithDecoreAndFurnitureTemplate"/>
      <class name="SignUpTests_stage.SG.SignUpWithOthersTemplate"/>
      <class name="SignUpTests_stage.NI.SignUpWithEducationTemplate"/>
      <class name="SignUpTests_Prod.SignUpWithBeautyAndWellnessTemplate"/>
      <class name="SignUpTests_Prod.SignUpWithKitchenAndHousewareTemplate"/>
      <class name="SignUpTests_stage.SignUpWithInteriorDesignTemplate"/>
      <class name="SignUpTests_stage.NI.SignUpWithOthersTemplate"/>
      <class name="LoginTests.LoginTests_IN"/>
      <class name="SignUpTests_stage.SignUpWithClothingTemplate"/>
      <class name="SignUpTests_stage.NI.SignUpWithBlankTemplate"/>
      <class name="SignUpTests_stage.SignUpWithHealthServicesTemplate"/>
      <class name="SignUpTests_stage.IN.SignUpWithRealEstateTemplate"/>
      <class name="SignUpTests_stage.IN.SignUpWithClothingTemplate"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
