<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="SignUpTests_Prod.SignUpWithEducationTemplate"/>
      <class name="stage.IN.SignUpWithBlankTemplateWithCitrusCODOfflinePayment"/>
      <class name="stage.customers.HK.CreateCustomerWithoutSearchFunctionality"/>
      <class name="Shoptiq.Login.shoptiqTest"/>
      <class name="stage.IN.SignUpWithBlankTemplateWithCODAndAramexInternational"/>
      <class name="Singtel.Products.AddProductsWithAllowOOS"/>
      <class name="MyShopmatic.HK.customers.CreateCustomerWithSearchFunctionalityOptedinForMarketing"/>
      <class name="stage.SG.Taxes.EnableTaxesWithoutTaxRateForSG"/>
      <class name="MyShopmatic.IN.SignUpWithBlankTemplateWithOfflinePaymentAndOwnShippingInternational"/>
      <class name="stage.Orders.IN.MarkAsDeliveredForOrder"/>
      <class name="Shoptiq.products.AddProductsWithAllowOOS"/>
      <class name="SignUpTests_Prod.SignUpWithOthersTemplate"/>
      <class name="stage.IN.SignUpWithBlankTemplateWithCODOwnShippingAramexShipyaariSelfCollectOwnShippingInternational"/>
      <class name="MyShopmatic.IN.SignUpWithBlankTemplateWithCODOwnShippingAramexShipyaariSelfCollectAramexInternational"/>
      <class name="stage.SG.SignUpWithBlankTemplateWithOfflinePaymentAndSelfCollect"/>
      <class name="stage.Products.HK.AddProductsWithShippingDetailsAndInventory"/>
      <class name="MyShopmatic.NI.SignUpWithBlankTemplateWithAramex"/>
      <class name="SignUpTests_Prod.SignUpWithRealEstateTemplate"/>
      <class name="MyShopmatic.IN.SignUpWithBlankTemplateWithOfflinePaymentAndAramexShipyaariSelfCollect"/>
      <class name="MyShopmatic.IN.SignUpWithBlankTemplateWithCODAndOwnShippingInternational"/>
      <class name="Singtel.Taxes.AddGSTRefNumberForSG"/>
      <class name="MyShopmatic.SG.Taxes.EnableshowTaxRefNumWithVATNumberForSG"/>
      <class name="MyShopmatic.SG.SignUpWithBlankTemplateWithOfflinePaymentAndStdShippingInternational"/>
      <class name="MyShopmatic.SG.SignUpWithBlankTemplateWithOfflinePaymentSelfCollectStdShippingInternational"/>
      <class name="stage.SG.seo.addSeoTest"/>
      <class name="stage.Products.HK.AddProductsWithShowInStore"/>
      <class name="MyShopmatic.IN.SignUpWithBlankTemplateWithCODAndAramexShipyaari"/>
      <class name="stage.IN.SignUpWithBlankTemplateWithOfflinePaymentAndAramexShipyaari"/>
      <class name="MyShopmatic.HK.SignUpWithBlankTemplateWithCODAndStdShippingInternational"/>
      <class name="Shoptiq.products.AddProductsWithShippingDetails"/>
      <class name="stage.Products.SG.AddProductsWithFullDetails"/>
      <class name="Singtel.Products.AddProductsWithShippingDetailsAndInventory"/>
      <class name="stage.Products.NI.AddProductsWithShowInStore"/>
      <class name="MyShopmatic.IN.SignUpWithBlankTemplateWithOfflinePaymentOwnShippingAramexShipyaariSelfCollectAramexInternationalOwnShippingInternational"/>
      <class name="stage.IN.SignUpWithBlankTemplateWithCODAndShipyaari"/>
      <class name="stage.customers.HK.CreateCustomerWithoutSearchFunctionalityOptedinForMarketing"/>
      <class name="SignUpTests_Prod.SignUpWithInteriorDesignTemplate"/>
      <class name="Singtel.Taxes.EnableshowTaxRefNumForSG"/>
      <class name="Singtel.Taxes.EnableTaxesForSG"/>
      <class name="Shoptiq.products.AddProductsWithShowInStore"/>
      <class name="stage.IN.SignUpWithBlankTemplateWithOfflinePaymentOwnShippingAramexShipyaariSelfCollectAramexInternationalOwnShippingInternational"/>
      <class name="MyShopmatic.IN.SignUpWithBlankTemplateWithCODOwnShippingAramexShipyaariSelfCollectAramexInternationalOwnShippingInternational"/>
      <class name="stage.SG.SignUpWithBlankTemplateWithOfflinePaymentAndStdShippingInternational"/>
      <class name="MyShopmatic.SG.customers.CreateCustomerWithSearchFunctionalityOptedinForMarketing"/>
      <class name="stage.NI.SignUpWithBlankTemplateNeoEnabledAndAramexShippingDomestic"/>
      <class name="Singtel.Products.AddProducts"/>
      <class name="MyShopmatic.IN.customers.CreateCustomerNotOptedInForMarketing"/>
      <class name="stage.customers.HK.CreateCustomerNotOptedInForMarketing"/>
      <class name="stage.IN.SignUpWithBlankTemplateWithCitrusOwnShippingAramexShipyaariSelfCollectAramexInternationalOwnShippingInternational"/>
      <class name="previewtemplate.in.ClothingPreviewTest"/>
      <class name="MyShopmatic.HK.Taxes.EnableTaxesWithAllOptionsForHK"/>
      <class name="stage.HK.SignUpWithBlankTemplateWithOfflinePayment"/>
      <class name="stage.Products.IN.AddProductsWithFullDetails"/>
      <class name="MyShopmatic.IN.SignUpWithBlankTemplateWithCODAndAramexShipyaariSelfCollect"/>
      <class name="MyShopmatic.IN.SignUpWithBlankTemplateWithCitrusOwnShippingAramexShipyaariSelfCollectAramexInternationalOwnShippingInternational"/>
      <class name="Singtel.Products.AddProductsWithShowInStore"/>
      <class name="MyShopmatic.HK.SignUpWithBlankTemplateWithCODSelfCollectStdShippingInternational"/>
      <class name="MyShopmatic.NI.Taxes.EnableTaxesForNI"/>
      <class name="stage.Orders.HK.MarkAsDeliveredForOrder"/>
      <class name="stage.IN.SignUpWithBlankTemplateWithCODAndOwnShippingInternational"/>
      <class name="stage.IN.SignUpWithBlankTemplateWithCitrusAramexInternational"/>
      <class name="BaseClass.BaseClassTest"/>
      <class name="stage.Orders.SG.CancelOrder"/>
      <class name="stage.IN.SignUpWithBlankTemplateWithCitrusCOD"/>
      <class name="stage.NI.SignUpWithBlankTemplateNeoEnabled"/>
      <class name="stage.customers.SG.CreateCustomerWithoutSearchFunctionality"/>
      <class name="stage.SG.Taxes.EnableshowTaxRefNumWithVATNumberForSG"/>
      <class name="Singtel.discounts.AddFlatPercentageDiscountTest2"/>
      <class name="LoginTests.LoginTests_IN"/>
      <class name="stage.customers.IN.CreateCustomerNotOptedInForMarketing"/>
      <class name="MyShopmatic.HK.SignUpWithBlankTemplateWithOfflinePaymentAndStdShippingInternational"/>
      <class name="stage.IN.SignUpWithBlankTemplateWithOfflinePaymentAndSelfCollect"/>
      <class name="MyShopmatic.NI.Taxes.EnableTaxesWithoutTaxRateForNI"/>
      <class name="MyShopmatic.HK.Taxes.EnableTaxesForHK"/>
      <class name="MyShopmatic.IN.SignUpWithBlankTemplateWithCODAndOwnShippingDomestic"/>
      <class name="stage.IN.SignUpWithBlankTemplateWithCODAndOwnShippingDomestic"/>
      <class name="stage.Products.SG.AddProductsWithAllowOOS"/>
      <class name="MyShopmatic.IN.SignUpWithBlankTemplateWithCitrusCODOfflinePayment"/>
      <class name="MyShopmatic.HK.SignUpWithBlankTemplateWithOfflinePayment"/>
      <class name="MyShopmatic.IN.SignUpWithBlankTemplateWithCitrusOwnShippingAramexShipyaariSelfCollectAramexInternational"/>
      <class name="stage.HK.SignUpWithBlankTemplateWithCODSelfCollectStdShippingInternational"/>
      <class name="Shoptiq.Taxes.EnableshowTaxRefNumWithVATNumberForSG"/>
      <class name="stage.Products.IN.AddProductsWithAllowOOS"/>
      <class name="previewtemplate.in.WeddingsAndEventsPreviewTest"/>
      <class name="SignUpTests_Prod.SignUpWithDecoreAndFurnitureTemplate"/>
      <class name="MyShopmatic.IN.SignUpWithBlankTemplateWithOfflinePayment"/>
      <class name="stage.NI.SignUpWithBlankTemplateNeoEnabledAndAramexShippingInternational"/>
      <class name="Singtel.Taxes.EnableTaxesWithoutTaxRateForSG"/>
      <class name="MyShopmatic.SG.SignUpWithBlankTemplateWithCODOfflinePaymentAndSelfCollectStdShippingInternational"/>
      <class name="MyShopmatic.NI.SignUpWithBlankTemplateNeoEnabledAndAramexShippingInternational"/>
      <class name="MyShopmatic.NI.Taxes.EnableshowTaxRefNumForNI"/>
      <class name="MyShopmatic.IN.SignUpWithBlankTemplateWithCitrusShipyaari"/>
      <class name="stage.Discounts.AddFlatPercenatgeDiscountTest1"/>
      <class name="Shoptiq.Taxes.EnableshowTaxRefNumForSG"/>
      <class name="Singtel.discounts.AddFlatDiscountTest1"/>
      <class name="Singtel.discounts.AddFlatDiscountTest2"/>
      <class name="Singtel.discounts.AddFlatPercenatgeDiscountTest1"/>
      <class name="stage.IN.SignUpWithBlankTemplateWithCitrusCODOfflinePaymentAllShippingOptions"/>
      <class name="MyShopmatic.Products.AddProductsWithShippingDetails"/>
      <class name="MyShopmatic.IN.SignUpWithBlankTemplateWithOfflinePaymentAndOwnShippingDomestic"/>
      <class name="stage.SG.Taxes.EnableTaxesForSG"/>
      <class name="MyShopmatic.Products.AddProductsWithShippingDetailsAndInventory"/>
      <class name="stage.domain.CustomDomainTest"/>
      <class name="stage.customers.IN.CreateCustomerWithoutSearchFunctionalityOptedinForMarketing"/>
      <class name="MyShopmatic.HK.SignUpWithBlankTemplateWithOfflinePaymentAndSelfCollect"/>
      <class name="stage.Products.NI.AddProductsWithShippingDetailsAndInventory"/>
      <class name="stage.IN.SignUpWithBlankTemplateWithCitrusAndAramex"/>
      <class name="MyShopmatic.IN.SignUpWithBlankTemplateWithCitrusAndOwnShippingAramexShipyaari"/>
      <class name="stage.HK.shoppingchannels.EnableShoppingChannel"/>
      <class name="MyShopmatic.HK.customers.CreateCustomerWithoutSearchFunctionalityOptedinForMarketing"/>
      <class name="Shoptiq.Taxes.EnableTaxesWithoutTaxRateForSG"/>
      <class name="stage.customers.SG.CreateCustomerWithoutSearchFunctionalityOptedinForMarketing"/>
      <class name="stage.IN.SignUpWithBlankTemplateWithCitrusOwnShippingAramexShipyaariSelfCollectAramexInternational"/>
      <class name="MyShopmatic.IN.SignUpWithBlankTemplateWithOfflinePaymentAndAramexInternational"/>
      <class name="stage.Orders.IN.CancelOrder"/>
      <class name="stage.IN.SignUpWithBlankTemplateWithOfflinePaymentAndOwnShippingDomestic"/>
      <class name="stage.Discounts.AddFlatDiscountTest1"/>
      <class name="stage.Discounts.AddFlatDiscountTest2"/>
      <class name="stage.Orders.HK.CreateOrders"/>
      <class name="MyShopmatic.IN.SignUpWithBlankTemplateWithCitrusCODOfflinePaymentAllShippingOptions"/>
      <class name="stage.HK.Taxes.addVATRefNumberForHK"/>
      <class name="stage.IN.SignUpWithBlankTemplateWithCitrusAndSelfCollect"/>
      <class name="stage.Products.IN.AddProductsWithShowInStore"/>
      <class name="stage.IN.SignUpWithBlankTemplateWithOfflinePayment"/>
      <class name="stage.customers.SG.CreateCustomerWithSearchFunctionality"/>
      <class name="stage.IN.SignUpWithBlankTemplateWithOfflinePaymentAndOwnShippingInternational"/>
      <class name="stage.NI.Taxes.EnableTaxesWithAllOptionsForNI"/>
      <class name="MyShopmatic.HK.Taxes.EnableshowTaxRefNumWithVATNumberForHK"/>
      <class name="stage.SG.Taxes.EnableTaxesWithAllOptionsForSG"/>
      <class name="MyShopmatic.IN.SignUpWithBlankTemplateWithCODAndShipyaari"/>
      <class name="stage.IN.SignUpWithBlankTemplateWithCitrus"/>
      <class name="stage.NI.Taxes.EnableshowTaxRefNumForNI"/>
      <class name="MyShopmatic.IN.SignUpWithBlankTemplateWithCODAndAramex"/>
      <class name="MyShopmatic.SG.Taxes.EnableshowTaxRefNumForSG"/>
      <class name="stage.SG.shoppingchannels.EnableShoppingChannel"/>
      <class name="MyShopmatic.HK.SignUpWithBlankTemplateWithCODOfflinePaymentAndSelfCollectStdShippingInternational"/>
      <class name="MyShopmatic.IN.SignUpWithBlankTemplateWithOfflinePaymentOwnShippingAramexShipyaariSelfCollectOwnShippingInternational"/>
      <class name="stage.customers.IN.CreateCustomerWithSearchFunctionality"/>
      <class name="MyShopmatic.NI.Taxes.EnableTaxesWithAllOptionsForNI"/>
      <class name="MyShopmatic.SG.Taxes.EnableTaxesWithAllOptionsForSG"/>
      <class name="stage.Products.HK.AddProductsWithFullDetails"/>
      <class name="MyShopmatic.IN.customers.CreateCustomerWithSearchFunctionalityOptedinForMarketing"/>
      <class name="MyShopmatic.SG.SignUpWithBlankTemplateWithOfflinePaymentAndSelfCollect"/>
      <class name="SignUpTests_Prod.SignUpWithBeautyAndWellnessTemplate"/>
      <class name="stage.SG.SignUpWithBlankTemplateWithCODOfflinePaymentAndSelfCollectStdShippingInternational"/>
      <class name="MyShopmatic.HK.SignUpWithBlankTemplateWithCODAndSelfCollect"/>
      <class name="stage.NI.SignUpWithBlankTemplate"/>
      <class name="stage.IN.SignUpWithBlankTemplateWithOfflinePaymentAndAramexInternational"/>
      <class name="stage.IN.SignUpWithBlankTemplateWithCitrusShipyaari"/>
      <class name="stage.NI.SignUpWithBlankTemplateWithSelfCollect"/>
      <class name="MyShopmatic.IN.SignUpWithBlankTemplateWithCODAndAramexInternational"/>
      <class name="stage.NI.SignUpWithBlankTemplateNeoEnabledAndSelfCollect"/>
      <class name="Shoptiq.Taxes.AddGSTRefNumberForSG"/>
      <class name="MyShopmatic.NI.SignUpWithBlankTemplateNeoEnabledAllShippingOptions"/>
      <class name="stage.Products.NI.AddProductsWithFullDetails"/>
      <class name="Singtel.Products.AddProductsWithFullDetails"/>
      <class name="stage.NI.SignUpWithBlankTemplateWithAramex"/>
      <class name="stage.Discounts.AddFlatFreeShippingDiscountTest1"/>
      <class name="stage.NI.SignUpWithBlankTemplateNeoEnabledAllShippingOptions"/>
      <class name="MyShopmatic.HK.Taxes.EnableshowTaxRefNumForHK"/>
      <class name="MyShopmatic.IN.customers.CreateCustomerWithoutSearchFunctionalityOptedinForMarketing"/>
      <class name="MyShopmatic.NI.NILoginTest"/>
      <class name="MyShopmatic.Discounts.AddFlatPercentageDiscountTest2"/>
      <class name="stage.Products.IN.AddProductsWithShippingDetailsAndInventory"/>
      <class name="stage.IN.SignUpWithBlankTemplateWithOfflinePaymentAndAramexShipyaariSelfCollect"/>
      <class name="Shoptiq.products.AddProductsWithFullDetails"/>
      <class name="stage.HK.SignUpWithBlankTemplateWithOfflinePaymentSelfCollectStdShippingInternational"/>
      <class name="SignUpTests_Prod.SignUpWithFashionAccessoriesTemplate"/>
      <class name="stage.SG.SignUpWithBlankTemplateWithCODAndSelfCollect"/>
      <class name="Singtel.discounts.AddFlatFreeShippingDiscountTest1"/>
      <class name="MyShopmatic.NI.SignUpWithBlankTemplateNeoEnabledAndAramexShippingDomestic"/>
      <class name="stage.customers.HK.CreateCustomerWithSearchFunctionality"/>
      <class name="stage.IN.SignUpWithBlankTemplateWithOfflinePaymentOwnShippingAramexShipyaariSelfCollectAramexInternational"/>
      <class name="stage.Orders.IN.PrintInvoiceForOrder"/>
      <class name="stage.Products.IN.AddProducts"/>
      <class name="stage.NI.Taxes.EnableshowTaxRefNumWithVATNumberForNI"/>
      <class name="stage.IN.SignUpWithBlankTemplateWithCODAndAramex"/>
      <class name="MyShopmatic.IN.SignUpWithBlankTemplateWithOfflinePaymentOwnShippingAramexShipyaariSelfCollectAramexInternational"/>
      <class name="stage.HK.SignUpWithBlankTemplateWithCODOfflinePaymentAndSelfCollectStdShippingInternational"/>
      <class name="stage.HK.Taxes.EnableshowTaxRefNumWithVATNumberForHK"/>
      <class name="stage.IN.SignUpWithBlankTemplateWithCODOwnShippingAramexShipyaariSelfCollectAramexInternational"/>
      <class name="MyShopmatic.IN.customers.CreateCustomerWithSearchFunctionality"/>
      <class name="MyShopmatic.IN.SignUpWithBlankTemplateWithOfflinePaymentAndShipyaari"/>
      <class name="stage.HK.Taxes.EnableshowTaxRefNumForHK"/>
      <class name="stage.Products.HK.AddProducts"/>
      <class name="stage.Products.HK.AddProductsWithAllowOOS"/>
      <class name="MyShopmatic.HK.Taxes.addVATRefNumberForHK"/>
      <class name="MyShopmatic.NI.SignUpWithBlankTemplateWithSelfCollect"/>
      <class name="stage.Products.NI.AddProductsWithShippingDetails"/>
      <class name="stage.Products.IN.AddProductsWithGST"/>
      <class name="stage.IN.SignUpWithBlankTemplateWithOfflinePaymentAndAramex"/>
      <class name="stage.HK.SignUpWithBlankTemplateWithCODAndSelfCollect"/>
      <class name="stage.NI.SignUpWithBlankTemplateOwnShippingInternational"/>
      <class name="stage.NI.Taxes.addGSTRefNumberForNI"/>
      <class name="Singtel.Taxes.EnableTaxesWithAllOptionsForSG"/>
      <class name="MyShopmatic.IN.SignUpWithBlankTemplateWithCitrusAndSelfCollect"/>
      <class name="Singtel.Taxes.EnableshowTaxRefNumWithVATNumberForSG"/>
      <class name="stage.HK.Taxes.EnableTaxesForHK"/>
      <class name="MyShopmatic.IN.SignUpWithBlankTemplateWithCitrusCOD"/>
      <class name="stage.IN.SignUpWithBlankTemplateWithCODAndAramexShipyaariSelfCollect"/>
      <class name="stage.NI.Taxes.EnableTaxesWithoutTaxRateForNI"/>
      <class name="stage.store.tests.in.CreateStoreTest1"/>
      <class name="stage.IN.SignUpWithBlankTemplateWithCitrusAndAramexShipyaariSelfCollect"/>
      <class name="stage.IN.SignUpWithBlankTemplateWithOfflinePaymentOwnShippingAramexShipyaariSelfCollectOwnShippingInternational"/>
      <class name="MyShopmatic.SG.Taxes.AddGSTRefNumberForSG"/>
      <class name="stage.SG.SignUpWithBlankTemplateWithOfflinePaymentSelfCollectStdShippingInternational"/>
      <class name="Singtel.Products.AddProductsWithShippingDetails"/>
      <class name="stage.Products.SG.AddProductsWithShippingDetails"/>
      <class name="MyShopmatic.IN.SignUpWithBlankTemplateWithOfflinePaymentAndSelfCollect"/>
      <class name="stage.Products.IN.AddProductsWithShippingDetails"/>
      <class name="stage.SG.Taxes.EnableshowTaxRefNumForSG"/>
      <class name="MyShopmatic.IN.SignUpWithBlankTemplateWithCitrusAndAramex"/>
      <class name="MyShopmatic.HK.customers.CreateCustomerWithSearchFunctionality"/>
      <class name="stage.HK.seo.addSeoTest"/>
      <class name="MyShopmatic.IN.SignUpWithBlankTemplateWithCitrusAndAramexShipyaari"/>
      <class name="stage.IN.seo.addSeoTest"/>
      <class name="MyShopmatic.NI.Taxes.addGSTRefNumberForNI"/>
      <class name="previewtemplate.in.BeautyAndWellnessPreviewTest"/>
      <class name="MyShopmatic.SG.SignUpWithBlankTemplateWithCOD"/>
      <class name="stage.customers.HK.CreateCustomerWithSearchFunctionalityOptedinForMarketing"/>
      <class name="stage.IN.shoppingchannels.EnableShoppingChannel"/>
      <class name="MyShopmatic.SG.customers.CreateCustomerWithoutSearchFunctionality"/>
      <class name="stage.NI.Taxes.EnableTaxesForNI"/>
      <class name="MyShopmatic.SG.Taxes.EnableTaxesForSG"/>
      <class name="MyShopmatic.IN.SignUpWithBlankTemplateWithOfflinePaymentAndAramexShipyaari"/>
      <class name="stage.Orders.SG.MarkAsDeliveredForOrder"/>
      <class name="stage.Orders.IN.CreateOrders"/>
      <class name="stage.customers.SG.CreateCustomerWithSearchFunctionalityOptedinForMarketing"/>
      <class name="stage.HK.SignUpWithBlankTemplateWithCODAndStdShippingInternational"/>
      <class name="previewtemplate.in.SignupflowFromPreviewPageTest"/>
      <class name="stage.HK.Taxes.EnableTaxesWithAllOptionsForHK"/>
      <class name="MyShopmatic.IN.SignUpWithBlankTemplateWithCitrus"/>
      <class name="MyShopmatic.SG.Taxes.EnableTaxesWithoutTaxRateForSG"/>
      <class name="stage.SG.Taxes.AddGSTRefNumberForSG"/>
      <class name="stage.IN.SignUpWithBlankTemplateWithCODOwnShippingAramexShipyaariSelfCollectAramexInternationalOwnShippingInternational"/>
      <class name="stage.customers.SG.CreateCustomerNotOptedInForMarketing"/>
      <class name="Singtel.LoginTest"/>
      <class name="stage.Orders.HK.PrintInvoiceForOrder"/>
      <class name="MyShopmatic.SG.SignUpWithBlankTemplateWithCODSelfCollectStdShippingInternational"/>
      <class name="MyShopmatic.SG.customers.CreateCustomerWithSearchFunctionality"/>
      <class name="stage.Orders.HK.CancelOrder"/>
      <class name="MyShopmatic.Discounts.AddFlatDiscountTest1"/>
      <class name="stage.customers.IN.CreateCustomerWithSearchFunctionalityOptedinForMarketing"/>
      <class name="MyShopmatic.Discounts.AddFlatDiscountTest2"/>
      <class name="stage.IN.SignUpWithBlankTemplateWithCODAndSelfCollect"/>
      <class name="MyShopmatic.SG.EditSiteTest"/>
      <class name="stage.Products.SG.AddProducts"/>
      <class name="MyShopmatic.HK.customers.CreateCustomerWithoutSearchFunctionality"/>
      <class name="Shoptiq.Taxes.EnableTaxesWithAllOptionsForSG"/>
      <class name="MyShopmatic.SG.SignUpWithBlankTemplateWithCODAndSelfCollect"/>
      <class name="SignUpTests_Prod.SignUpWithGroceriesTemplate"/>
      <class name="MyShopmatic.Products.AddProductsWithAllowOOS"/>
      <class name="SignUpTests_Prod.SignUpWithBlankTemplate"/>
      <class name="MyShopmatic.HK.Taxes.EnableTaxesWithoutTaxRateForHK"/>
      <class name="MyShopmatic.HK.SignUpWithBlankTemplateWithOfflinePaymentSelfCollectStdShippingInternational"/>
      <class name="MyShopmatic.SG.customers.CreateCustomerNotOptedInForMarketing"/>
      <class name="stage.HK.SignUpWithBlankTemplateWithOfflinePaymentAndSelfCollect"/>
      <class name="stage.IN.Taxes.EnableDisableTaxesForIN"/>
      <class name="Shoptiq.Taxes.EnableTaxesForSG"/>
      <class name="MyShopmatic.NI.SignUpWithBlankTemplateOwnShippingInternational"/>
      <class name="stage.Products.HK.AddProductsWithShippingDetails"/>
      <class name="stage.SG.SignUpWithBlankTemplateWithOfflinePayment"/>
      <class name="MyShopmatic.HK.SignUpWithBlankTemplateWithCOD"/>
      <class name="MyShopmatic.Discounts.AddFlatPercenatgeDiscountTest1"/>
      <class name="stage.Orders.SG.CreateOrders"/>
      <class name="MyShopmatic.SG.SignUpWithBlankTemplateWithOfflinePayment"/>
      <class name="Shoptiq.products.AddProducts"/>
      <class name="MyShopmatic.Products.AddProducts"/>
      <class name="stage.IN.SignUpWithBlankTemplateWithCitrusAndOwnShippingAramexShipyaari"/>
      <class name="MyShopmatic.IN.SignUpWithBlankTemplateWithCitrusAndAramexShipyaariSelfCollect"/>
      <class name="MyShopmatic.NI.SignUpWithBlankTemplateNeoEnabledAndSelfCollect"/>
      <class name="SignUpTests_Prod.SignUpWithWeddingsAndEventsTemplate"/>
      <class name="MyShopmatic.IN.Taxes.EnableDisableTaxesForIN"/>
      <class name="MyShopmatic.NI.SignUpWithBlankTemplate"/>
      <class name="previewtemplate.in.FashionAccessoriesPreviewTest"/>
      <class name="MyShopmatic.IN.customers.CreateCustomerWithoutSearchFunctionality"/>
      <class name="stage.NI.SignUpWithBlankTemplateNeoEnabledOwnShippingInternational"/>
      <class name="stage.Products.SG.AddProductsWithShippingDetailsAndInventory"/>
      <class name="MyShopmatic.NI.SignUpWithBlankTemplateNeoEnabledOwnShippingInternational"/>
      <class name="MyShopmatic.IN.SignUpWithBlankTemplateWithCODAndSelfCollect"/>
      <class name="stage.Products.NI.AddProductsWithAllowOOS"/>
      <class name="MyShopmatic.SG.SignUpWithBlankTemplateWithCODAndStdShippingInternational"/>
      <class name="stage.IN.SignUpWithBlankTemplateWithCitrusAndAramexShipyaari"/>
      <class name="SignUpTests_Prod.SignUpWithHealthServicesTemplate"/>
      <class name="stage.Orders.IN.CreateOrdersAndScheduletoShipViaShipyaari"/>
      <class name="stage.Orders.SG.PrintInvoiceForOrder"/>
      <class name="stage.SG.SignUpWithBlankTemplateWithCODSelfCollectStdShippingInternational"/>
      <class name="stage.SG.SignUpWithBlankTemplateWithCODAndStdShippingInternational"/>
      <class name="stage.HK.SignUpWithBlankTemplateWithCOD"/>
      <class name="MyShopmatic.IN.SignUpWithBlankTemplateWithOfflinePaymentAndAramex"/>
      <class name="stage.Products.NI.AddProducts"/>
      <class name="MyShopmatic.IN.SignUpWithBlankTemplateWithCODOwnShippingAramexShipyaariSelfCollectOwnShippingInternational"/>
      <class name="stage.Discounts.AddFlatPercentageDiscountTest2"/>
      <class name="stage.HK.SignUpWithBlankTemplateWithOfflinePaymentAndStdShippingInternational"/>
      <class name="MyShopmatic.Products.AddProductsWithShowInStore"/>
      <class name="Shoptiq.products.AddProductsWithShippingDetailsAndInventory"/>
      <class name="MyShopmatic.Products.AddProductsWithFullDetails"/>
      <class name="SignUpTests_Prod.SignUpWithClothingTemplate"/>
      <class name="stage.IN.SignUpWithBlankTemplateWithOfflinePaymentAndShipyaari"/>
      <class name="MyShopmatic.NI.SignUpWithBlankTemplateNeoEnabled"/>
      <class name="stage.IN.SignUpWithBlankTemplateWithCODAndAramexShipyaari"/>
      <class name="MyShopmatic.IN.SignUpWithBlankTemplateWithCitrusAramexInternational"/>
      <class name="stage.SG.SignUpWithBlankTemplateWithCOD"/>
      <class name="MyShopmatic.IN.SignUpWithBlankTemplateWithCitrusOwnShippingAramexShipyaariSelfCollectOwnShippingInternational"/>
      <class name="previewtemplate.in.BackToTemplateTest"/>
      <class name="SignUpTests_Prod.SignUpWithKitchenAndHousewareTemplate"/>
      <class name="stage.Products.SG.AddProductsWithShowInStore"/>
      <class name="stage.IN.SignUpWithBlankTemplateWithCitrusOwnShippingAramexShipyaariSelfCollectOwnShippingInternational"/>
      <class name="stage.HK.Taxes.EnableTaxesWithoutTaxRateForHK"/>
      <class name="MyShopmatic.HK.customers.CreateCustomerNotOptedInForMarketing"/>
      <class name="stage.customers.IN.CreateCustomerWithoutSearchFunctionality"/>
      <class name="Products.AddProductsToExisting"/>
      <class name="MyShopmatic.NI.Taxes.EnableshowTaxRefNumWithVATNumberForNI"/>
      <class name="MyShopmatic.Discounts.AddFlatFreeShippingDiscountTest1"/>
      <class name="MyShopmatic.SG.customers.CreateCustomerWithoutSearchFunctionalityOptedinForMarketing"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
